{% extends 'base.html.twig' %}

{% block title %}LikePost index{% endblock %}

{% block body %}
    <h1>LikePost index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Total</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for like_post in like_posts %}
            <tr>
                <td>{{ like_post.id }}</td>
                <td>{{ like_post.total }}</td>
                <td>{{ like_post.date ? like_post.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_like_post_show', {'id': like_post.id}) }}">show</a>
                    <a href="{{ path('app_like_post_edit', {'id': like_post.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_like_post_new') }}">Create new</a>
{% endblock %}
